/** Variable Declearation **/
/** Screen Sizes **/
/** Responsive Media Query Mixin **/
/*** Global  SCSS ***/
* {
  margin: 0;
  padding: 0;
  font-family: "Arvo", serif;
  font-family: "Hind", sans-serif;
  font-family: "Maven Pro", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

h1 {
  font-weight: 700;
}

a {
  color: #192a56;
  font-weight: 600;
  text-transform: capitalize;
  padding: 6px 10px;
  border-radius: 5px;
}

a:hover {
  background-color: transparent;
  color: #666;
}

.tag-heading {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.err-message {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.04em;
}

/** Header Csss **/
header {
  position: static;
  top: 0;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 3em;
}
header .nav-left {
  float: left;
}
header .nav-left .logo {
  font-size: 25px;
  font-weight: 700;
  color: #192a56;
}
header .nav-links {
  float: right;
}
header .nav-links ul {
  display: block;
}
header .nav-links ul li {
  display: inline-block;
  padding: 5px 20px;
}
header .nav-links ul li span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 5px;
  border: 1px solid #666;
  border-radius: 25px;
}
header .nav-links ul li span .menu {
  display: block;
  padding: 2px 4px;
  border-radius: 5px;
}

/** carousel css **/
#carousel {
  position: relative;
  /** Medial Quries **/
}
#carousel .slide {
  max-width: 90%;
  margin: 3vh auto;
  display: flex;
  justify-content: space-between;
}
#carousel .slide .bg-img {
  flex: 7;
}
#carousel .slide .bg-img img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
#carousel .slide .slide-content {
  flex: 5;
  text-align: left;
  margin: auto;
}
#carousel .slide .slide-content button {
  border: none;
  outline: none;
  margin: 0.5em 0px;
  padding: 10px 0px;
  background: #eee;
  color: #192a56;
  font-weight: 700;
  font-size: 1.5em;
  border-radius: 30px;
}
#carousel .prev,
#carousel .next {
  position: absolute;
  top: 40%;
  width: auto;
  margin: 0 2vw;
  padding: 10px;
  line-height: 1.5vh;
  cursor: pointer;
  color: teal;
  font-size: 25px;
  background-color: #eee;
  border-radius: 50%;
}
#carousel .next {
  position: absolute;
  top: 40%;
  right: 0;
  width: auto;
  margin: 0 2vw;
  padding: 10px;
  line-height: 1.5vh;
  cursor: pointer;
  color: #192a56;
  font-size: 25px;
}
@media (max-width: 768px) {
  #carousel .slide {
    flex-direction: column;
  }
  #carousel .slide .slide-content h1 {
    font-size: 3vh;
  }
}

/** Services ***/
#services {
  max-width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(25rem, 1fr));
  gap: 1rem;
  grid-auto-rows: auto;
}
#services .service-card {
  display: flex;
  width: 17rem;
  margin: 0 0.5rem;
  flex-direction: column;
  border: 1px solid rgb(203, 199, 199);
  border-radius: 25px;
}
#services .service-card img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 11rem;
  -o-object-fit: contain;
     object-fit: contain;
  border-bottom: 1px solid #666;
}
#services .service-card .card-content {
  padding: 10px 10px;
}
#services .service-card .card-content .tag {
  font-size: 14px;
  background-color: #eee;
  color: #192a56;
  padding: 2px 5px;
  border-radius: 25px;
}
#services .service-card .card-content h2 {
  color: grey;
  letter-spacing: 0.03em;
}
#services .service-card .card-content .blog-auther {
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 50%;
}
#services .service-card .card-content .blog-auther img {
  height: 25px;
  width: 25px;
  line-height: 25px;
  padding: 5px;
  border-radius: 50%;
  -o-object-fit: fill;
     object-fit: fill;
}/*# sourceMappingURL=style.css.map */