@import "../../../styles.scss";
#auth {
  height: 93vh;
  background-size: cover;
  background: url('../../../assets/bg.webp') no-repeat fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .content {
    margin: 1vh auto;
    border: 1px solid $grey1;
    box-shadow: $card_shadow;
    padding: 2vh 1rem;
    h2 {
      color: #232323;
      letter-spacing: 0.03em;
      text-align: center;
      padding: 2vh 0;
    }
    .first {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      .social-inons {
        width: 35rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5vh 0;
        border: 1px solid $grey1;
        padding: 0.2rem 1rem;
        background-color: $grey2;
        border-radius: $round;
        img {
          width: 30px;
          height: 30px;
          line-height: 30px;
          object-fit: cover;
          background-color: #232323;
          padding: 4px;
          border-radius: $circle;
        }
        .text {
          display: flex;
          justify-content: center;
        }
      }
    }
    h3 {
      padding: 1vh 0;
      margin: 1vh 0;
      border-top: 1px solid $grey2;
    }
    .second {
      margin: 1vh 0;
      form {
        margin: 1vh 0;
        .form-element {
          display: flex;
          flex-direction: column;
          margin: 1vh 0;
          label{
             padding: 2px 0;
             color: #232323;
             font-weight: 500;
          }
          input {
            padding: .5rem 1rem;
            border: 1px solid $grey2;
            border-radius: 5px;
            background-color: $grey2;
          }
        }
        .btn-ele{
            margin: 1vh auto;
           display: flex;
           justify-content: center;
            button{
                width: 50%;
                outline: none;
                border: none;
                padding: 1rem;
                border-radius: $round;
                background: $base_color_light_mode;
                color: #fff;
                font-size: 15px;
                letter-spacing: 0.03em;
                cursor: pointer;
                font-weight: 700;
            }
        }
      }
    }
  }
}
