<footer id="footer">
  <div class="upper">
    <div class="left">
      <h2>About</h2>
      <span class="text-justify">
        A restaurant website typically includes information about the
        establishment, such as its name, location, hours of operation, and menu
        offerings. It may also feature photos of the restaurant's interior and
        exterior, as well as customer reviews and ratings.
      </span>
    </div>
    <div class="center">
      <h2>Categories</h2>
      <ul class="footer-links">
        <li><a href="http://scanfcode.com/category/c-language/">Dining</a></li>
        <li>
          <a href="http://scanfcode.com/category/front-end-development/"
            >Take Out</a
          >
        </li>
        <li>
          <a href="http://scanfcode.com/category/back-end-development/"
            >Delivery</a
          >
        </li>
        <li>
          <a href="http://scanfcode.com/category/java-programming-language/"
            >Reservations</a
          >
        </li>
        <li><a href="http://scanfcode.com/category/android/">Specials</a></li>
        <li>
          <a href="http://scanfcode.com/category/templates/">Catering</a>
        </li>
      </ul>
    </div>
    <div class="right">
      <h2>Quick Links</h2>
      <ul class="footer-links">
        <li><a href="http://scanfcode.com/about/">About Us</a></li>
        <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
        <li>
          <a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a>
        </li>
        <li>
          <a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a>
        </li>
        <li><a href="http://scanfcode.com/sitemap/">ConnectMe</a></li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-1">
      <p class="copyright-text">
        Copyright &copy; 2023 All Rights Reserved by
        <a href="#">@Rahul Chaudhary</a>
      </p>
    </div>
    <div class="col-2">
      <div class="social-icons">
        <img src="../../../assets/logo-linkedin.svg" alt="" />
        <img src="../../../assets/logo-instagram.svg" alt="" />
        <img src="../../../assets/logo-twitter.svg" alt="" />
        <img src="../../../assets/logo-facebook.svg" alt="" />
      </div>
    </div>
  </div>
</footer>
