<div class="service-card">
    <img src="../../../assets/food3.jpg" alt="" />
    <div class="card-content">
        <div class="tags">
            <span class="tag">Gold</span>
            <div class="rating">
                <span class="rating">Rating: </span>
                <span class="values">4.6</span>
            </div>
        </div>
      <h4>Breakfast Service</h4>
      <p class="blog-desc">
        Providing food and drink services to guests in hotels and
        restaurants, showing attentiveness, and understanding of their needs
        and expectations
      </p>
      <button>Read More...</button>
    </div>
  </div>