@import '../../../styles.scss';
.service-card{
     display: flex;
     flex-direction: column;
     max-width: 28rem;
     box-shadow: $card_shadow;
     img{
         height: 22rem;
         width: 100%;
        object-fit: cover; 
     }
     .card-content{
         padding:0.5rem;
      .tags{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .tag{
              padding: 2px 10px;
              background-color: $yellow2;
              color: $bg_color_light_mode;
              border-radius: $round;
              font-size: 10px;
              letter-spacing: 0.02em;
          }
          .rating{
              color: $heading_color;
              opacity: 0.8;
              letter-spacing: 0.03em;
              
          }
          .values{
             font-weight: 700;
             color: $bg_color_dark_mode;
          }
      }
      h4{
         color: $heading_color;
         letter-spacing: 0.03em;
         font-size: 18px;
      }
      span{
         color: $heading_color;
         opacity: 0.6;
         padding: 1vh 0;

      }
      button{
           border: none;
           margin: 0.5vh 0;
           padding:0.5rem 1rem;
           color: $yellow2;
           font-weight: 500;
           font-size: 15px;
           border-radius: $round;
           cursor: pointer;
      }
     }
}