<div class="service-card">
    <img src="../../../assets/food3.jpg" alt="" />
    <div class="card-content">
        <div class="tags">
            <span class="tag">Gold</span>
            <div class="rating">
                <span class="tag">Rating</span>
                <span class="values">4.6</span>
            </div>
        </div>
      <h4>Breakfast Service</h4>
      <span class="blog-desc">
        Providing food and drink services to guests in hotels and
        restaurants, showing attentiveness, and understanding of their needs
        and expectations
      </span>
    </div>
  </div>