<div id="hero">
  <div class="left">
    <div class="content">
      <div class="upper">
        <h3 class="heading">
          Lorem ipsum dolor sit amet. Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Eos, ab.
        </h3>
        <p class="desc">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum amet
          assumenda facilis libero deleniti sed?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, aperiam.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, laboriosam deserunt asperiores rerum ea commodi cupiditate molestiae similique rem inventore!
        </p>
      </div>
    </div>
    <div class="form-control">
      <form action="" class="">
        <div class="form-element ">
          <img src="../../../assets/location-outline.svg" alt="" />
          <select  placeholder="AnyWhere        ">
            <option value="">Select Location</option>
            <option value="Mumbai" class="location">
               <i class="fa fa-map"></i>
              <span>Detect Location</span>
            </option>

          </select>
          <div class="border"></div>
        </div>
        <div class="form-element ">
          <img src="../../../assets/alarm-outline.svg" alt="" />
          <input type="text" placeholder="Any Time" />
          <div class="border"></div>
        </div>

        <div class="form-element btn">
          <img src="../../../assets/search-outline.svg" alt="" style="background-color: transparent;" />
          <span class="text">Search</span>
        </div>
      </form>
    </div>
  </div>
  <div class="right">
    <div class="slider">
        <div class="img-ele">
            <img src="../../../assets/panee2.webp" alt="" />
        </div>
        <div class="img-ele">
            <img src="../../../assets/food4.png" alt="" />
        </div>
    </div>
    <div class="sign">
        <div class="ele"></div>
        <div class="ele"></div>
        <div class="ele"></div>
        <div class="ele"></div>
    </div>
  </div>
</div>
