<div id="hero-section">
  <app-hero></app-hero>
</div>
<div id="services-section">
  <app-services></app-services>
</div>

<div id="reviews">
  <h1 class="section-heading">Reviews & Ratings</h1>
  <div class="cards">
    <app-review-card></app-review-card>
    <app-review-card></app-review-card>
    <app-review-card></app-review-card>
    <app-review-card></app-review-card>
  </div>
</div>
<div id="contact">
  <div class="contact-form">
    <app-contact-section></app-contact-section>
  </div>
</div>

<div id="footer-section">
  <app-footer></app-footer>
</div>