
    <div class="content">
      <div class="left-side">
        <div class="details">
          <img src="../../../assets/location-outline.svg" alt="">
          <h3 class="topic">Address</h3>
          <p class="text-one">Surkhet, NP12</p>
          <p class="text-two">Birendranagar 06</p>
        </div>
        <div class="details">
          <img src="../../../assets/call-sharp.svg" alt="">
          <h3 class="topic">Phone</h3>
          <p class="text-one">+0098 9893 5647</p>
          <p class="text-two">+0096 3434 5678</p>
        </div>
        <div class="details">
            <img src="../../../assets/chatbox-ellipses-outline.svg" alt="">
          <h3 class="topic">Email</h3>
          <p class="text-one">codinglab@gmail.com</p>
          <p class="text-two">info.codinglab@gmail.com</p>
        </div>
        <div class="border-1"></div>
      </div>
      <div class="border"></div>
      <div class="right-side">
        <h3 class="topic-text">Send us a message</h3>
        <p>If you have any work from me or any types of quries related to my tutorial, you can send me message from here. It's my pleasure to help you.</p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name"/>
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email"/>
        </div>
        <div class="input-box message-box" >
            <textarea ng-model="myTextarea" placeholder="About Yourself...."></textarea>
        </div>
        <div class="button">
          <input type="button" value="Send Now" >
        </div>
      </form>
    </div>
    </div>