<header id="header">
  <div class="left">
    <img src="../../../assets/logo.svg" alt="logo" class="logo" />
    <div class="heading">
      <h4>Food Easy</h4>
      <p>Do't wait Hunger</p>
    </div>
  </div>
  <div class="right">
    <nav class="nav-items">
      <ul>
        <li class="blink_me"><a href="">Home</a></li>
        <li><a href="">Menu</a></li>
        <li><a href="">Reviews</a></li>
        <li><a href="">Contact</a></li>
        <li class="auth">
            <!-- <img src="../../../assets/person-circle-sharp.svg" alt="" width="24px" height="24px" /> -->
            <a href="http://"> Login </a>
          
        </li>
      </ul>
    </nav>
  </div>
</header>
