<header id="header">
  <div class="left">
    <img src="../../../assets/logo.svg" alt="logo" class="logo" />
    <a routerLink="/">
      <div class="heading">
        <h4>Food Easy</h4>
        <p>Do't wait Hunger</p>
      </div>
    </a>
  </div>
  <div class="right">
    <nav class="nav-items">
      <ul>
        <li class="blink_me"><a routerLink="/">Home</a></li>
        <li><a routerLink="menu">Menu</a></li>
        <li><a routerLink="dashboard">Reviews</a></li>
        <li><a routerLink="">Contact</a></li>
        <li class="auth">
          <!-- <img src="../../../assets/person-circle-sharp.svg" alt="" width="24px" height="24px" /> -->
          <a routerLink="login"> Login </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
