@import "../../../styles.scss";
#header {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1vh 0;
  .left {
    float: left;
    display: flex;
    img {
      width: 18px;
      height: 18px;
      line-height: 25px;
      object-fit: contain;
    }
    .heading {
      padding: 0 1rem;
      h4 {
        color: $heading_color;
        font-weight: 500;
        letter-spacing: 0.03em;
      }
      p {
        color: $heading_color;
        font-size: 8px;
        letter-spacing: 0.02em;
        font-weight: 400;
      }
    }
  }
  .right {
    float: right;
    align-items: center;
    nav {
      ul {
        li {
          display: inline-block;
          padding: 0 1rem;
        }
        .auth {
            background-color: $base_color_light_mode;
            margin: 0 0.2rem;
            border-radius: $round;
            padding: 0.5rem 0;
            a{
              color: $bg_color_light_mode;
            }
        }
      }
    }
  }
}
