#services{
    max-width: 90%;
    margin: 0 auto;
    // display: grid;
    // grid-template-columns:  repeat(3, minmax(25rem , 1fr));;
    // gap: auto;
    // grid-auto-rows: auto;
    display: flex;
    flex-direction: row;
}