<div id="review-card">
    <div class="content">
        <div id="front" class="front">
            <div class="product">
                <img src="../../../assets/coffee2.png" alt="">
            </div>
            <div class="ratings">
                <span>Rating</span>
                <div class="icons">
                   <img src="../../../assets/star.svg" alt="">
                   <img src="../../../assets/star.svg" alt="">
                   <img src="../../../assets/star.svg" alt="">
                   <img src="../../../assets/star.svg" alt="">
                   <img src="../../../assets/star-half-outline.svg" alt="">
                </div>
            </div>
            <p>It is awesome Product. Material and Quality is very good</p>
            <button>Read More..</button>
        </div>
        <div class="back">
            <div class="back-content">
                <h3 class="text-center">-- Full Review --</h3>
                <p>Providing food and drink services to guests in hotels and restaurants, showing attentiveness, and understanding of their needs and expectations</p>
                <div class="location">
                    <img src="../../../assets/location-outline.svg" alt="">
                    <span>St. Petresbergs ,Russia</span>
                </div>
                <div class="author">
                    <img src="../../../assets/person-circle-sharp.svg" alt="">
                    <div class="name">
                        <span class="auth">Robert Wiesly</span>
                        <span class="desc">Premium Customer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    
</div>
