/** Global SCSS **/
$base_color: teal;
$border_color: #edf3f4;
$text_color: #eee;
$shadow_box: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$input_shadow: rgba(0, 0, 0, 0.05) 1px 1px 0px 0px,
  rgb(209, 213, 219) 1px 1px 0px 0px inset;

/** Global SCSS **/

/** Page SCSS**/
#container {
  max-width: 60%;
  margin: 25px auto;
  h1 {
    text-align: center;
  }
}
#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
  width: 30vw;
  box-shadow: $shadow_box;
  button {
    outline: none;
    border: none;
    padding: 5px 10px;
    background-color: $base_color;
    color: $text_color;
    font-weight: 700;
    max-width: 200px;
    margin: 5px auto;
  }
  /* Pseudo Class hover, active */
  button:hover {
    color: black;
    background: pink;
    cursor: pointer;
  }
  button:active {
    background: transparent;
    color: black;
  }
}
.form-element {
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  padding: 10px 0;
  width: 25vw;
  .required {
    padding: 3px 0;
    letter-spacing: 0.04em;
    font-weight: 700;
  }
  /*  Pesudo Element (*) Added After Label */
  .required::after {
    content: "*";
    color: red;
  }
  input {
    border: none;
    outline: none;
    border-bottom: 1px solid $base_color;
    opacity: 0.5;
    padding: 5px;
    letter-spacing: 0.05em;
  }
  /*  Pseudo Class Focus */
  input:focus {
    box-shadow: $input_shadow;
  }
}

#password-element {
  position: relative;
  i {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px 5px;
    color: $base_color;
  }
  i:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: black;
  }
}
